
body
{
	color: white;
}

#wrapper
{
	width: 1024px;
	height: 768px;
}

.box
{
	padding-left: 30px;
	padding-top: 10px;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px black;
	border-radius: 13px;
}

#selectchar
{
	width: 400;
}



.loginbutton
{

}

body
{
	user-select: none;
}