
body
{
	color: white;
}

#wrapper
{
	width: 1024px;
	height: 768px;
}

.box
{
	padding-left: 30px;
	padding-top: 10px;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px black;
	border-radius: 13px;
}

.box2
{
	padding: 10px;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px black;
	border-radius: 3px;
}


#selectchar
{
	width: 400;
}


.chattext
{
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    padding:3px;
}

.loginbutton
{

}

body
{
	user-select: none;
}